[Desktop Entry]
Name=DebInstaller
Name[bg]=DebInstaller
Name[bs]=DebInstaller
Name[ca]=DebInstaller
Name[ca@valencia]=DebInstaller
Name[cs]=DebInstaller
Name[da]=DebInstaller
Name[de]=DebInstaller
Name[el]=DebInstaller
Name[en_GB]=DebInstaller
Name[eo]=DebInstaller
Name[es]=DebInstaller
Name[et]=DebInstaller
Name[fi]=DebInstaller
Name[fr]=DebInstaller
Name[ga]=DebInstaller
Name[gl]=DebInstaller
Name[hu]=DebInstaller
Name[it]=DebInstaller
Name[ja]=DebInstaller
Name[kk]=DebInstaller
Name[km]=DebInstaller
Name[ko]=DebInstaller
Name[lt]=DebInstaller
Name[lv]=DebInstaller
Name[nb]=DebInstaller
Name[nds]=DebInstaller
Name[nl]=DebInstaller
Name[nn]=DebInstaller
Name[pa]=DebInstaller
Name[pl]=DebInstaller
Name[pt]=DebInstaller
Name[pt_BR]=DebInstaller
Name[ro]=DebInstaller
Name[ru]=DebInstaller
Name[sk]=DebInstaller
Name[sl]=DebInstaller
Name[sq]=DebInstaller
Name[sr]=DebInstaller
Name[sr@ijekavian]=DebInstaller
Name[sr@ijekavianlatin]=DebInstaller
Name[sr@latin]=DebInstaller
Name[sv]=DebInstaller
Name[tr]=DebInstaller
Name[ug]=DebInstaller
Name[uk]=DebInstaller
Name[x-test]=xxDebInstallerxx
Name[zh_CN]=DebInstaller
Name[zh_TW]=DebInstaller
Exec=debinstaller
Icon=debinstaller
Type=Application
X-DocPath=debinstaller/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla pel KDE
GenericName[ca@valencia]=Una aplicació senzilla pel KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
